@media {
    /*Phone styles here*/
    /*This media query targets any screen smaller than 576px wide (see below)*/
    .fullwidthimage {
        width: 100%
    }
    body {
        background:#ede0d4;
        font-family: 'Playfair Display', serif;
        color: #000000;
    }
    h1 {
        font-size: 47px;
        font-weight: bold;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 15px;
    }
    .heading {
        font-weight:bold;
    }
    .names {
        font-weight:bolder;
        font-size: 30px;
    }
    #footer {
    color: #000000;
    text-align: right;
}
       
       .quote {
           padding:10px 0px 10px 0px;
           font-size: 30px;
           text-align: center;
           font-family:'Fjalla One', sans-serif;
           font-weight: bold;
       }
       
       .attribution {
           text-align:right;
           padding:0px 20px 5px 0px;
       }
    .gary-first-pic {
       margin-left:60px;
        width:30%
    }
    .taylor-first-pic {
        width:30%
    }
    .davon-first-pic {
        width:30%
    }
     .davon-second-pic {
        width:50%;
        margin-left: 200px;
    }
     .taylor-second-pic {
        width:50%;
        margin-left: 200px;
    }
     .gary-second-pic {
        width:50%;
        margin-left: 200px;
    }
}

@media (min-width: 576px) {
    /*Tablet-only styles here*/
    /*This media query targets any screen that is at least 576px wide (but smaller than 992px wide (see below)*/
}

@media (min-width: 992px) {
    /*Desktop-only styles here*/
    /*This media query targets any screen that is at least 992px wide*/
}

@media (min-width: 1200px) {
    /*Large-Desktop-only styles here*/
    /*This media query targets any screen that is at least 1200px wide*/
}