@media {
    /*Phone styles here*/
    /*This media query targets any screen smaller than 576px wide (see below)*/
    .fullwidthimage {
        width: 100%
    }
    body {
        background:#ede0d4;
        font-family: 'Playfair Display', serif;
        color: #582f0e;
    }
    h1 {
        font-size: 47px;
        font-weight: bold;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 15px;
    }
    .heading {
        font-weight:bold;
    }
    .names {
        font-weight:bolder;
        font-size: 30px;
    }
    #footer {
    background-color:#582f0e;
    color: #ede0d4;
    text-align: right;
}
}

@media (min-width: 576px) {
    /*Tablet-only styles here*/
    /*This media query targets any screen that is at least 576px wide (but smaller than 992px wide (see below)*/
}

@media (min-width: 992px) {
    /*Desktop-only styles here*/
    /*This media query targets any screen that is at least 992px wide*/
}

@media (min-width: 1200px) {
    /*Large-Desktop-only styles here*/
    /*This media query targets any screen that is at least 1200px wide*/
}